.tabs {
  margin-top: 89px;
  margin-bottom: 93px;
  &__h2 {
    font-family: Lato;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
    margin-top: 33px;
    margin-bottom: 33px;
    cursor: pointer;
  }

  .tab {
    display: flex;
    overflow: hidden;
    max-height: 1000px;
    transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
    border-bottom: 1px solid #e8e8e8;
    &__h2 {
      font-family: Lato;
      font-size: 13px;
      line-height: 1.2;
      font-weight: bold;
      text-transform: uppercase;
      color: #222222;
    }
    &__text {
      font-family: Lato;
      font-size: 13px;
      line-height: 20px;
      font-weight: 400;
      color: #b3b2b2;
    }
    &__checkbox {
      position: relative;
      width: 14px;
      height: 14px;
      background-color: #ffffff;
      border: 2px solid #555555;
      &:checked::before {
        z-index: 0;
        width: 10px;
        height: 10px;
        background-color: white;
        border: 2px solid #555555;
        display: inline-block;
        content: "";
        position: relative;
        border-radius: 15px;
      }
      &:checked::after {
        z-index: 10;
        width: 6px;
        height: 6px;
        top: 2px;
        left: 2px;
        position: absolute;
        background-color: black;
        border: 2px solid white;
        display: inline-block;
        content: "";
        position: absolute;
        border-radius: 15px;
      }
    }
    &__label {
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      color: #222222;
      margin-left: 14px;
    }
    &__element {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }
    &__form {
      margin-top: 34px;
      margin-bottom: 34px;
    }
    &__second-list {
      margin-top: 33px;
    }
    &__second-li {
      font-family: Lato;
      font-size: 13px;
      line-height: 20px;
      font-weight: 400;
      color: #b3b2b2;
      margin-bottom: 15px;
    }
    &__btn {
      width: 180px;
      height: 50px;
      background-color: #ffffff;
      border: 1px solid #eaeaea;
      font-size: 14px;
      line-height: 1.2;
      font-weight: 700;
      text-transform: uppercase;
      color: #4a4a4a;
      margin-top: 38px;
      transition: border-color 0.4s ease, background-color 0.4s ease, color 0.4s ease;
      &:hover {
        border-color: #f16d7f;
        background-color: #f16d7f;
        color: #ffffff;
      }
    }
    &__h3 {
      font-size: 12px;
      line-height: 20px;
      font-weight: bold;
      color: #222222;
      margin-bottom: 16px;
      margin-top: 23px;
    }
    &__input {
      width: 390px;
      height: 45px;
      background-color: #ffffff;
      border: 1px solid #eaeaea;
    }
    &__alert {
      margin-top: 22px;
      margin-bottom: 16px;
    }
    &__pas {
      font-weight: bold;
      margin-left: 32px;
    }
    &__btn-block {
      margin-bottom: 79px;
    }
    &__right {
      margin-left: 293px;
    }
    &__left {
      margin-left: 24px;
    }
  }

  .hidden {
    max-height: 0px;
    transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
  }
  .margin {
    margin-bottom: 15px;
  }
  .red {
    color: #ff0d0d;
  }
}
