.product {
  &__header {
    font-family: Lato;
    font-size: 13px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.015em;
    color: #222222;
    display: grid;
    grid-template-columns: 40% repeat(4, 1fr) max-content;
    justify-items: center;
    align-self: center;
    width: 100%;
    padding: 20px 0;
    margin-top: 70px;
    border-bottom: 1px solid #eaeaea;
    span {
      text-align: center;
      &:first-child {
        justify-self: start;
        text-align: left;
      }
      &:last-child {
        text-align: right;
      }
    }
  }
  &__container {
    margin-bottom: 44px;
  }
}
.card {
  font-family: "Lato";
  padding: 25px 0;
  border-bottom: 1px solid #eaeaea;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 40% repeat(4, 1fr) 50px;

  &__block {
    padding: 0 21px;
  }
  &__name {
    font-size: 13px;
    line-height: 1.2;
    font-weight: bold;
    text-transform: uppercase;
    color: #222222;
    margin-bottom: 38px;
  }
  &__atr {
    font-size: 13px;
    line-height: 20px;
    color: #6f6e6e;
    font-weight: 600;
  }
  .bold {
    color: #575757;
    margin-right: 5px;
    font-weight: bold;
  }
  .flex {
    justify-self: start;
    margin: 0;
    align-items: center;
  }
  &__text {
    font-family: Lato;
    font-size: 13px;
    line-height: 20px;
    color: #656565;
    font-weight: bold;
    text-align: center;
  }
  .fa {
    color: #c0c0c0;
  }
  &__btn {
    padding: 0;
    box-sizing: border-box;
    background-color: unset;
    border: none;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
  }
  &__input {
    width: 54px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
  }
}
.cart-menu__buy {
  padding: 20px 39px;
}
.btn-block {
  display: flex;
  justify-content: space-between;
}
.form-block {
  display: flex;
  margin-top: 63px;
  justify-content: space-between;
  margin-bottom: 79px;
  .form {
    min-width: 345px;
    display: flex;
    flex-direction: column;
    &__h3 {
      font-family: Lato;
      font-size: 16px;
      line-height: 1.2;
      font-weight: 700;
      text-transform: uppercase;
      color: #222222;
      margin-bottom: 22px;
    }

    &__sort {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: left;
    }
    &__sort,
    &__input {
      padding: 0 18px 0 12px;
      height: 45px;
      margin-bottom: 20px;
      font-family: Lato;
      font-size: 13px;
      line-height: 1.2;
      font-weight: 300;
      color: #b1b1b1;
      background-color: #ffffff;
      border: 1px solid #eaeaea;
      &::placeholder {
        color: #b1b1b1;
      }
    }
    &__butn {
      width: 100px;
      height: 35px;
      background-color: #ffffff;
      border: 1px solid #eaeaea;
      font-family: Lato;
      font-size: 11px;
      font-weight: 700;
      text-transform: uppercase;
      color: #4a4a4a;
      transition: color 0.4s ease, background-color 0.4s ease;
      &:hover {
        background-color: #f16d7f;
        color: #ffffff;
      }
    }
  }
}

.discount {
  display: flex;
  flex-direction: column;
  min-width: 345px;
  &__p {
    margin-bottom: 24px;
  }
  .form__butn {
    width: 118px;
  }
}

.checkout {
  width: 320px;
  height: 134px;
  background-color: #f5f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  &__primary {
    font-family: Lato;
    font-size: 11px;
    line-height: 1.2;
    font-weight: bold;
    text-transform: uppercase;
    color: #4a4a4a;
    text-align: right;
    align-self: flex-end;
    margin-bottom: 14px;
  }
  &__second {
    font-family: Lato;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
    text-align: right;
    align-self: flex-end;
  }
  &__btn {
    margin: 0 auto;
    justify-items: flex-end;
    width: 273px;
    height: 50px;
    background-color: #f16d7f;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    border: 1px solid #f16d7f;
  }
  .price {
    margin-left: 10px;
  }
}
